matplotlib==3.10.0
matplotlib-inline==0.1.7
numpy==1.26.4
opencv-python-headless==4.11.0.86
pandas==2.2.3
scikit-learn==1.6.1
sklearn-compat==0.1.3
streamlit==1.43.2
streamlit-drawable-canvas==0.9.3
streamlit-option-menu==0.4.0